<div class="order-details-container">

    <!-- Page Header -->
    <div class="page-header">

        <div>

            <h2>Order Details</h2>

            <p>Complete information about the selected customer order.</p>

        </div>

    </div>

    <!-- Loading -->

    <div class="loading-card" *ngIf="loading">

        Loading Order Details...

    </div>

    <!-- Main Content -->

    <div *ngIf="!loading && order">

        <!-- Order Summary -->

        <div class="card">

            <div class="card-header">

                <h3>Order Summary</h3>

            </div>

            <div class="details-grid">

                <div class="detail-box">
                    <label>Order ID</label>
                    <span>#{{order.orderId}}</span>
                </div>

                <div class="detail-box">
                    <label>Customer</label>
                    <span>{{order.customerName}}</span>
                </div>

                <div class="detail-box">
                    <label>Order Date</label>
                    <span>
                        {{order.orderDate | date:'dd MMM yyyy hh:mm a'}}
                    </span>
                </div>

                <div class="detail-box">
                    <label>Payment</label>
                    <span>{{order.paymentMethod}}</span>
                </div>

                <div class="detail-box">
                    <label>Total Amount</label>

                    <span class="price">

                        ₹ {{order.totalAmount}}

                    </span>

                </div>

                <div class="detail-box">

                    <label>Status</label>

                    <span class="status" [ngClass]="order.status.toLowerCase()">

                        {{order.status}}

                    </span>

                </div>



            </div>

        </div>

        <!-- Update Status -->

        <div class="card">

            <div class="card-header">

                <h3>Update Order Status</h3>

            </div>

            <div class="status-update">

                <label>Status</label>

                <select [(ngModel)]="selectedStatus">

                    <option value="PENDING">Pending</option>

                    <option value="CONFIRMED">Confirmed</option>

                    <option value="PACKED">Packed</option>

                    <option value="SHIPPED">Shipped</option>

                    <option value="OUT_FOR_DELIVERY">
                        Out For Delivery
                    </option>

                    <option value="DELIVERED">
                        Delivered
                    </option>

                    <option value="CANCELLED">
                        Cancelled
                    </option>

                </select>

                <button class="update-btn" (click)="updateStatus()">

                    Update Status

                </button>

            </div>

        </div>

        <!-- Delivery Address -->

        <div class="card">

            <div class="card-header">

                <h3>Delivery Address</h3>

            </div>

            <p class="address">

                {{order.deliveryAddress}}

            </p>

        </div>

        <!-- Ordered Products -->

        <div class="card">

            <div class="card-header">

                <h3>Ordered Products</h3>

            </div>

            <table>

                <thead>

                    <tr>

                        <th>Product ID</th>

                        <th>Quantity</th>

                        <th>Price</th>

                        <th>Total</th>

                    </tr>

                </thead>

                <tbody>

                    <tr *ngFor="let item of orderItems">

                        <td>

                            {{item.productId}}

                        </td>

                        <td>

                            {{item.quantity}}

                        </td>

                        <td>

                            ₹ {{item.unitPrice}}

                        </td>

                        <td>

                            ₹ {{item.totalPrice}}

                        </td>

                    </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>