<nav class="customer-navbar">


    <!-- Logo -->

    <div class="logo-section">

        <h1>
            CartLane
        </h1>


    </div>





    <!-- Search Bar -->

    <div class="search-section">


        <input type="text" placeholder="Search products...">


        <button>
            <i class="bi bi-search"></i>
        </button>


    </div>






    <!-- Navigation Links -->


    <!-- Navigation Links -->

<div class="nav-links">


    <!-- Home -->

    <a routerLink="dashboard">
        Home
    </a>



    <!-- Products -->

    <a routerLink="products">
        Products
    </a>



    <!-- Categories -->

    <a routerLink="categories">
        Categories
    </a>



    <!-- Orders -->

    <a routerLink="orders/my-orders">
        Orders
    </a>


</div>



    <!-- Right Actions -->


    <div class="nav-actions">



        <!-- Cart -->

        <div class="cart-icon" routerLink="/customer/cart">


            <i class="bi bi-cart3"></i>


            <span>
                3
            </span>


        </div>






        <!-- Profile -->


        <!-- Profile -->

<div class="profile-section" routerLink="/customer/profile">

    <div class="profile-icon">

        <i class="bi bi-person-circle"></i>

    </div>

    <div class="profile-text">

        <span class="profile-title">
            My Account
        </span>

        <small>
            Profile
        </small>

    </div>

    <i class="bi bi-chevron-right profile-arrow"></i>

</div>
    </div>



</nav>